@media (max-width: 640px) {
  .mobile-animated-tagline {
    display: inline-block;
    animation: mobile-slide-tagline 4s linear infinite;
  }
  @keyframes mobile-slide-tagline {
    0% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    10% {
      opacity: 1;
      transform: translateX(0);
    }
    40% {
      opacity: 1;
      transform: translateX(0);
    }
    50% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    51% {
      opacity: 0;
      transform: translateX(100vw);
    }
    60% {
      opacity: 1;
      transform: translateX(0);
    }
    90% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100vw);
    }
  }
} 